.modal-window {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.1s ease-in;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window .modal {
  margin-top: -20rem;
  transform: scale(0.05);
  transition: all 0.2s cubic-bezier(.21,.45,.72,.55);
}

.modal-window:target .modal {
  margin-top: 0;
  transform: scale(1);
}

.ContextMenu-divider {
  background-color: rgba(0,0,0,0.05);
}
