body {
  background: #f9fbfd;
}

.modal-window {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.1s ease-in;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window .modal {
  margin-top: -20rem;
  transform: scale(0.05);
  transition: all 0.2s cubic-bezier(.21,.45,.72,.55);
}

.modal-window:target .modal {
  margin-top: 0;
  transform: scale(1);
}

.ContextMenu-divider {
  background-color: rgba(0,0,0,0.05);
}


/* Checkbox */
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
/* Checkbox */
